{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load cache %}


{% block title %}
"Новость"
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->

{% block content %}
    <h1>{{ post.head_post }}</h1>
    <hr>{{ post.type_post }}
    <hr>{{ post.text_post| censor }}
    <hr>{{ post.date_post }}

        <h5>
            {% for cat in cathegory %}
          <h5>  {{cat.cathegory__cathegory_name}}</h5>

            {% if cat.cathegory not in subscribed %}
                          <button><a href="{% url 'subscribe' cat.cathegory %}">Подписаться на новости категории</a></button>
            {% else %}
                          <button><a href="{% url 'unsubscribe' cat.cathegory %}">Отписаться от новостей категории</a></button>
                {% endif %}
        </h5>
{% endfor %}
<p>
    <p>
    <p>
     {% cache 100 cats category %}
              <h7> <button><a href="{% url 'post_list' %}">к списку новостей</a></button>
                  </h7>
     {% endcache %}

{% endblock content %}
